@import "tailwindcss";

@theme {
	--color-primary: #1a56db;
	--color-primary-dark: #1e40af;
	--color-success: #16a34a;
	--color-error: var(--color-red-50);
	--color-error-dark: var(--color-red-300);
}

:root {
	--color-color-picker-text-do-not-use: #ff9898;
}

@utility btn {
	@apply py-2 text-sm font-medium rounded-md transition-colors cursor-pointer;
}

@utility btn-primary {
	@apply btn text-white bg-gray-800 hover:bg-gray-700;
}

@utility btn-secondary {
	@apply btn text-gray-600 border border-gray-400 hover:bg-gray-50;
}

@utility btn-danger {
	@apply btn text-gray-800 border border-red-500 bg-red-100 hover:bg-red-200;
}

@utility btn-sm-ghost {
	@apply btn px-3 py-1.5 text-xs text-gray-400 rounded-lg hover:cursor-pointer hover:text-gray-900;
}

@utility btn-sm-light {
	@apply btn px-3 py-2 text-xs font-medium text-gray-600 border border-gray-200 rounded-md hover:bg-gray-100 transition-colors cursor-pointer;
}

@utility box {
	@apply py-2 px-3 text-xs font-medium rounded-md;
}

@utility box-warning {
	@apply box text-gray-800 border border-red-500 bg-red-100;
}

@utility box-success {
	@apply box text-green-800 border border-green-200 bg-green-50;
}

@utility text-danger {
	@apply text-red-600 text-center;
}
